* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden; /* Prevents vertical scroll */
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
}

.logo {
    max-width: 100px; /* Adjust size as needed */
}

.gallery {
    display: flex;
    align-items: center;
    height: 100vh;
    padding-top: 100px; /* Offset for header */
    overflow: hidden;
    cursor: grab;
}

.portrait {
    width: 50vh;
    height: 80vh; /* Keeps images a consistent height */
    margin: 0 10px;
    border-radius: 8px;
    transition: transform 0.3s;
    object-fit: cover;
}

.portrait:hover {
    transform: scale(1.01); /* Zoom on hover */
}

@media (max-width: 600px) {
    .gallery {
        padding-top: 80px; /* Adjust top padding for visibility on mobile */
    }

    .portrait {
        width: 200px; /* Smaller width for mobile */
        height: 70vh; /* Reduce height slightly on mobile */
        margin: 0 10px; /* Closer spacing for a more zoomed-out effect */
    }
}




nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #333333; 
    font-weight: 600;
    padding: 10px 20px;
    position: relative;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: rebeccapurple;
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #FCF6F5FF;
    bottom: 0;
    left: 50%;
    transition: width 0.4s ease, left 0.4s ease;
}

nav ul li a:hover::before {
    width: 100%;
    left: 0;
}

